#%RAML 0.8
baseUri: https://mocksvc.mulesoft.com/mocks/13963a64-88fc-4aea-90e1-e8098d3a4537
title: American Flights API
version: 1.0

/flights:
  get:
    queryParameters:
      code:
    responses:
      200:
        body:
          application/json:
            example: |
              [{"ID":1, "code": "ER38sd", "price": 400,
                 "departureDate": "2016/11/20", "origin": "SFO",
                 "destination": "BOS", "emptySeats": 0, "plane":
                 {"type": "Boeing 737", "totalSeats": 150}},
                 {"ID":2, "code": "ER45sd", "price": 500,
                 "departureDate": "2016/11/20", "origin": "SFO",
                 "destination": "CDG", "emptySeats": 0, "plane":
                 {"type": "Boeing 737", "totalSeats": 150}}]
  post:
    body:
      application/json:
        example: |
         {"code": "ER38sd", "price": 400,
                 "departureDate": "2016/11/20", "origin": "SFO",
                 "destination": "BOS", "emptySeats": 0, "plane":
                 {"type": "Boeing 737", "totalSeats": 150}}
    responses:
      201:
        body:
          application/json:
            example: |
              {"message": "Flight added (but not really)"}
  /{ID}:
    get:
      responses:
        200:
          body:
            application/json:
              example: |
                {"ID":1, "code": "ER38sd", "price": 400,
                 "departureDate": "2016/11/20", "origin": "SFO",
                 "destination": "BOS", "emptySeats": 0, "plane":
                 {"type": "Boeing 737", "totalSeats": 150}}
              